transformers
accelerate
prometheus-client
aixblock-ml
aixblock-sdk
aixblock-tools
tensorboardX
gradio==5.33.1
redis
rq
flask>=2.2
flask-cors
Werkzeug>=2.0
gunicorn>=20.0
colorama
lxml
appdirs
gitpython
centrifuge-python
opencv-python>=4.1.1
numpy
grafana-api
diffusers>=0.30.0
datasets
trl
peft
scipy
bitsandbytes>=0.41.3
langchain
langchain_community
nvidia-ml-py
wandb
langchain_huggingface
huggingface-hub
flask_swagger_ui
pyyaml
gradio_log
tf-keras
loguru
about-time
rich
sparkdl
validators
triton
sentencepiece==0.2.0
# diffusers>=0.28.2
# transformers==4.44.2
# sentencepiece>=0.1.96
wheel==0.44.0
einops
# accelerate==1.1.1
matplotlib
imageio[ffmpeg]
imageio
imageio-ffmpeg
# gradio==5.7.1
gradio_toggle
gradio_modal
torchao

huggingface_hub
apscheduler
fastapi
uvicorn
mcp
torch==2.6.0 --index-url https://download.pytorch.org/whl/cu126
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu126
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu126
torchdata==0.10.1
spaces
finetrainers @ git+https://github.com/a-r-r-o-w/finetrainers.git@main
diffusers @ git+https://github.com/huggingface/diffusers.git@main
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
pytube
pytubefix
scenedetect[opencv]
pillow
pillow-avif-plugin
polars
open_clip_torch
av==14.1.0
git+https://github.com/LLaVA-VL/LLaVA-NeXT.git